<!--DYNAMIC CONTENT PUBLISHING-->
<script type="text/ng-template" id="expression-BlockContentCondition.html">
  If
  <a class="__link" left-click-menu data-target="allAny_menu{{element.id}}">{{element.all | boolToValue:'all':'any'}}</a> of these conditions are true
  <ul class="menu __context" role="menu" id="allAny_menu{{element.id}}">
    <li class="menu-item" ng-click='element.all=true;'>all</li>
    <li class="menu-item" ng-click='element.all=false;'>any</li>
  </ul>
</script>

<script type="text/ng-template" id="expression-TagsContainsCondition.html">
  Tags contain
  <div class="form-input">
    <input required class="form-control" ng-model="element1.tag" placeholder="Enter tag" />
  </div>
</script>

<!--COMMON, SHARED-->
<script type="text/ng-template" id="expression-UserGroupsContainsCondition.html">
  User group contains
  <div class="form-input">
    <input required class="form-control" ng-model="element1.group" placeholder="Enter group" />
  </div>
</script>

<script type="text/ng-template" id="expression-UserGroupIsCondition.html">
  User group is
  <div class="form-input">
    <ui-select multiple ng-model="element1.groups" ng-controller="virtoCommerce.dynamicExpressions.conditionUserGroupsController">
      <ui-select-match placeholder="{{'customer.blades.contact-detail.placeholders.groups' | translate}}">{{$item|json}}</ui-select-match>
      <ui-select-choices repeat="x in groups | filter: $select.search">
        <span ng-bind-html="x | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</script>

<script type="text/ng-template" id="expression-ConditionGeoTimeZone.html">
  Browsing from a time zone that is
  <a class="__link" left-click-menu data-target="compareCondition_menu{{element1.id}}">{{element1.compareCondition | compareConditionToText}}</a>
  <div class="form-group" ng-controller="virtoCommerce.dynamicExpressions.conditionGeoTimeZoneController">
    <ui-select ng-model="element1.value">
      <ui-select-match placeholder="Select timezone">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="x.id as x in timeZones | filter: { name: $select.search }">
        <span ng-bind-html="x.name | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <ul class="menu __context" role="menu" id="compareCondition_menu{{element1.id}}">
    <li class="menu-item" ng-click='element1.compareCondition="IsMatching";'>exactly</li>
    <li class="menu-item" ng-click='element1.compareCondition="IsNotMatching";'>anything but</li>
    <li class="menu-item" ng-click='element1.compareCondition="IsGreaterThan";'>greater than</li>
    <li class="menu-item" ng-click='element1.compareCondition="IsGreaterThanOrEqual";'>greater than or equals</li>
    <li class="menu-item" ng-click='element1.compareCondition="IsLessThan";'>less than</li>
    <li class="menu-item" ng-click='element1.compareCondition="IsLessThanOrEqual";'>less than or equals</li>
  </ul>
</script>

<script type="text/ng-template" id="expression-ConditionGeoZipCode.html">
  Browsing from a location with ZIP/postal code:
  <a class="__link" left-click-menu data-target="matchString_menu{{element1.id}}">{{element1.matchCondition | compareConditionToText}}</a>
  <div class="form-input __mini">
    <input required class="form-control" ng-model="element1.value" />
  </div>
  <ul class="menu __context" role="menu" id="matchString_menu{{element1.id}}">
    <li class="menu-item" ng-click='element1.matchCondition="Contains";'>containing</li>
    <li class="menu-item" ng-click='element1.matchCondition="NotContains";'>not containing</li>
    <li class="menu-item" ng-click='element1.matchCondition="Matching";'>being exactly</li>
    <li class="menu-item" ng-click='element1.matchCondition="NotMatching";'>being anything but</li>
  </ul>
</script>

<script type="text/ng-template" id="expression-ConditionGeoCity.html">
  Browsing from this city:
  <div class="form-input __mini">
    <input required class="form-control" ng-model="element1.value" />
  </div>
  <ul class="menu __context" role="menu" id="matchString_menu{{element1.id}}">
    <li class="menu-item" ng-click='element1.matchCondition="Contains";'>contains</li>
    <li class="menu-item" ng-click='element1.matchCondition="NotContains";'>does not contain</li>
    <li class="menu-item" ng-click='element1.matchCondition="Matching";'>is exactly</li>
    <li class="menu-item" ng-click='element1.matchCondition="NotMatching";'>is anything but</li>
  </ul>
</script>

<script type="text/ng-template" id="expression-ConditionGeoCountry.html">
  Browsing from this country:
  <div class="form-input" ng-controller="virtoCommerce.dynamicExpressions.conditionGeoCountryController">
    <ui-select ng-model="element1.value" required>
      <ui-select-match placeholder="Select...">{{$select.selected.displayName}}</ui-select-match>
      <ui-select-choices repeat="x.id as x in countries | filter: $select.search ">
        <span ng-bind-html="x.displayName | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</script>

<script type="text/ng-template" id="expression-ConditionGeoState.html">
  Browsing from this state or province:
  <div class="form-input __mini">
    <input required class="form-control" ng-model="element1.value" />
  </div>
  <ul class="menu __context" role="menu" id="matchString_menu{{element1.id}}">
    <li class="menu-item" ng-click='element1.matchCondition="Contains";'>contains</li>
    <li class="menu-item" ng-click='element1.matchCondition="NotContains";'>does not contain</li>
    <li class="menu-item" ng-click='element1.matchCondition="Matching";'>exactly</li>
    <li class="menu-item" ng-click='element1.matchCondition="NotMatching";'>anything but</li>
  </ul>
</script>

<script type="text/ng-template" id="expression-ConditionStoreSearchedPhrase.html">
  Shopper searched for a phrase:
  <a class="__link" left-click-menu data-target="matchString_menu{{element1.id}}">{{element1.matchCondition | compareConditionToText}}</a>
  <div class="form-input __mini">
    <input required class="form-control" ng-model="element1.value" />
  </div>
  <ul class="menu __context" role="menu" id="matchString_menu{{element1.id}}">
    <li class="menu-item" ng-click='element1.matchCondition="Contains";'>containing</li>
    <li class="menu-item" ng-click='element1.matchCondition="NotContains";'>not containing</li>
    <li class="menu-item" ng-click='element1.matchCondition="Matching";'>being exactly</li>
    <li class="menu-item" ng-click='element1.matchCondition="NotMatching";'>being anything but</li>
  </ul>
</script>

<script type="text/ng-template" id="expression-ConditionLanguageIs.html">
  The user language is set to
  <a class="__link" left-click-menu data-target="matchString_menu{{element1.id}}"><span ng-if="element1.value" class="flag flag-{{element1.value.substr(3, 2).toLowerCase()}}"></span> {{element1.value ? element1.value : 'select language' }}</a>
  <ul class="menu __context" role="menu" id="matchString_menu{{element1.id}}" ng-controller="virtoCommerce.dynamicExpressions.conditionLanguageIsController">
    <li class="menu-item" ng-click='element1.value=x;' ng-repeat="x in availableLanguages"><span class="flag flag-{{x.substr(3, 2).toLowerCase()}}"></span> {{x}}</li>
  </ul>
</script>

<script type="text/ng-template" id="expression-ConditionAgeIs.html">
  Shopper age is
  <a class="__link" left-click-menu data-target="compareCondition_menu{{element1.id}}">{{element1.compareCondition | compareConditionToText}}</a>
  <div class="form-input __mini __number">
    <input smart-float num-type="integer" required ng-model="element1.value">
  </div>
  <ul class="menu __context" role="menu" id="compareCondition_menu{{element1.id}}">
    <li class="menu-item" ng-click='element1.compareCondition="IsMatching";'>exactly</li>
    <li class="menu-item" ng-click='element1.compareCondition="IsNotMatching";'>anything but</li>
    <li class="menu-item" ng-click='element1.compareCondition="IsGreaterThan";'>greater than</li>
    <li class="menu-item" ng-click='element1.compareCondition="IsGreaterThanOrEqual";'>greater than or equals</li>
    <li class="menu-item" ng-click='element1.compareCondition="IsLessThan";'>less than</li>
    <li class="menu-item" ng-click='element1.compareCondition="IsLessThanOrEqual";'>less than or equals</li>
  </ul>
</script>

<script type="text/ng-template" id="expression-ConditionGenderIs.html">
  Shopper gender is
  <a class="__link" left-click-menu data-target="matchString_menu{{element1.id}}">{{element1.value?element1.value:'unspecified'}}</a>
  <ul class="menu __context" role="menu" id="matchString_menu{{element1.id}}">
    <li class="menu-item" ng-click='element1.value="female";'>female</li>
    <li class="menu-item" ng-click='element1.value="male";'>male</li>
  </ul>
</script>
