<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <ul class="list __items" style="list-style-type: none" ng-if="blade.currentEntities.length">
                <li class="list-head" ng-repeat="(addressType, listType) in blade.currentEntities | groupBy:'addressType'">
                    {{addressType}}
                    <table>
                        <tr class="list-item" ng-click="openDetailBlade(address)" ng-repeat="address in listType" ng-class="{'__selected': address == selectedItem}">
                            <td>
                                <span class="list-t">{{getAddressName(address) | limitTo:50}}</span>
                                <span class="list-descr">{{address.addressType}}</span>
                            <td ng-if="address.defaultAddress">
                                <span class="table-statusDefault">Default</span>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <p class="note" ng-if="!blade.currentEntities.length">{{ 'core.blades.address-list.labels.no-addresses' | translate }}</p>
        </div>
    </div>
</div>