<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <div class="table-wrapper">
                <form name="formScope" class="form">
                    <table class="table" ng-init="setForm(formScope)">
                        <thead>
                            <tr>
                                <th class="table-col">{{ 'core.blades.seo-duplicates.labels.semanticUrl' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-item" ng-repeat-start="data in blade.currentEntities" ng-class="{'__selected': blade.selectedNodeId===data.id}" ng-click="blade.selectedNodeId = data.id">
                                <td class="table-head" colspan="1">
                                    <span>{{data.objectType}}: {{data.name}}</span>
                                </td>
                            </tr>
                            <tr class="table-item" ng-repeat-end ng-class="{'__selected': blade.selectedNodeId===data.id}" ng-click="blade.selectedNodeId = data.id">
                                <td class="table-col">
                                    <ng-form name="valuesForm">
                                        <div class="form-input">
                                            <input ng-model="data.semanticUrl" required ui-validate="{invalidUrl: 'semanticUrlValidator($value)'}" name="semanticUrl" placeholder="{{'core.blades.seo-detail.placeholders.url-keyword' | translate}}" autocomplete="off" />
                                        </div>
                                        <div class="form-error">
                                            <span ng-show="valuesForm.semanticUrl.$error.required">{{'core.blades.seo-detail.validations.url-keyword-required' | translate}}</span>
                                            <span ng-show="valuesForm.semanticUrl.$error.invalidUrl">{{'core.blades.seo-detail.validations.url-keyword-invalid' | translate}}</span>
                                            <span ng-show="blade.conflicts[data.id]">{{'core.blades.seo-detail.validations.url-keyword-duplicate' | translate}}</span>
                                        </div>

                                    </ng-form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>